welcome-section{
    height: auto;
    flex: auto;
    color: whitesmoke;
}
h1{
    background-color: aqua;
    border: brown, 12px, dashed;
    font: bold, green;
}
h2{

}
.navbar{
    background-color: turquoise;
    justify-content: center;
}
projects{
    flex: auto;
}
project-tile{
    height: auto;
}
flexboxed{
    flex: inline;
}
.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
}