:root{
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(https://orsted.com/-/media/WWW/Images/Corp/Campaign/SpaceSafari/space-safari-background.png);
}
a > img {
    height: 10rem;
    margin: 4px;
}
button {
    font-size: 2rem;
    background-color: orangered;
    border-radius: 7px;
    padding: 8px;
}
