:root {
    box-sizing: border-box;
    background-color: black;
}

b:hover{
    background-color: green;
    transition: background-color .9s;
}
header,footer {
    display : flex;
    justify-content: center;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    
}

li {
    list-style-type: none;
}
.container{
    display: flex;
    z-index: 10;
}
.nav {
    border: solid 6px black;
    padding-right: 1rem;
    background-blend-mode: soft-light;
    text-shadow: 1px 1px 3px red, 0 0 1em blue, 0 0 0.7em red;
    text-decoration-color: blue;
    color: rgb(181, 178, 178);
    z-index: auto;

}
element.style {
--column-gutter: 24px;
--row-gutter: 40px;
}
.twinkling {
    background: url(http://www.script-tutorials.com/demos/360/images/twinkling.png) top center;
}

.stars, .tooltip__background, .twinkling {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}
.box{
    text-decoration: none;
    border: flex, solid, white;
    
}
h1{
    text-decoration-line: underline overline;
    text-shadow: 1px 1px 3px red, 0 0 1em blue, 0 0 0.7em blue;
    text-decoration-color: blue;
    color: rgb(181, 178, 178);
    text-align: center;
    font-size: 2rem;
}

/* .main{

 }

 <<<DO AN API CALL TO FIX IMAGE ISSUES?>>>
.sideborder{

 }*/