::-moz-progress-bar {
  background-color: red;
}

/* Force indeterminate bars to have zero width */
:indeterminate::-moz-progress-bar {
  width: 0;
}


:root{
  background-image: linear-gradient(rgb(255, 255, 255, .05), rgba(9, 119, 253, 0.5), rgba(79, 224, 7, 0.3)), url(https://i.imgur.com/TQW5VzG.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: soft-light;
  scroll-behavior: smooth;
}
.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 300px;
  }

  .scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    perspective: 600px;
    border: 2mm ridge rgb(255, 251, 0);
    border-radius: .9rem;
  }
  

  .card {
    width: 100%;
    height: 100%;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;


  }


  .card_description{
    padding: 80px;
    margin-bottom: 10px;  
  }


#container{
  height: fit-content;
  border: .9mm ridge rgb(255, 251, 0);;
  margin: 12px;
  padding: 18px;
  text-align: center;
}

  h1{
    color: blue;
  }
  h2{
  color: white;
  text-align: center;
  font-size: 19px;
}
  #newButton{
    border: .9mm ridge rgb(255, 251, 0);
    background-color: orange;
    border-radius: .4rem;
    opacity: 90%;
    margin-top: 120px;
    cursor: pointer;    
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
    
  }

  #startButton{
    border: .9mm ridge rgb(255, 251, 0);
    background-color: green;
    border-radius: .4rem;
    opacity: 90%;
    cursor: pointer;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    
  }

  .card.is-flipped {
    transform: rotateX(180deg);
  }
  
  .glossary {
    color: #0081bc;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #0081bc
  }


  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(7, 2, 2);
    font-weight: bold;
    backface-visibility: hidden;
    border-radius: .4rem;
  }
  
  .card__face--front {
    background: linear-gradient(rgb(115, 160, 243), #9198d5);  
    margin-top: 10px;
    text-align: center;
    color:whitesmoke;
    margin: -.5px
  }
  
  .card__face--back {
    background: linear-gradient(rgb(93, 255, 255), #4cfba3);  
    transform: rotatex(180deg);
    
  }

  h1{
    color: white;
    text-align: center;
    margin-bottom: -10px;

  }
  html{
    scroll-behavior: smooth;
}
.height{
  color: rgb(13, 97, 13);
}



.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 1;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.imgClass{
  padding-top: 10px;
  width: 83%;
  height: 83%;
  padding-bottom: 10px;
}
