:root{
    z-index: -1;
    background-image: linear-gradient(rgba(255, 0, 0, 0.387), rgba(96, 91, 253, 0.387));
    background: opacity(10%);
    background-size: 100%;



}
body {
    
}
.senators {
    display: flex;
    flex-wrap: wrap;
    border-color: red rgba(170, 50, 220, .6) green;
}



header {
    text-align: center;
}

.senatorGrid {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: .5rem;
    border: 2px;
    border-color: red rgba(170, 50, 220, .6) green;

}

figcaption {
    display: flex;
    justify-content: space-around;
    border-color: red rgba(170, 50, 220, .6) green;

}

.fa-democrat {
    color: blue;
}

.fa-republican {
    color: red;
}

.fa-star {
    color: yellow;
}

.progressDiv {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-bottom: 9px;

}

label {
    font-size: .75rem;
}